- if page.respond_to? :twitter_search
  :javascript
    jQuery(document).ready(function($) {
      $("#tweets").tweet({
        count: 3,
        query: "#{page.twitter_search}",
        loading_text: "Loading tweets...",
        lang: 'en',
      });
    });  

  %h4 Twitter <a class="small" href="http://search.twitter.com/?q=#{page.twitter_search}">edge rails</a>
  #tweets