.blog
  padding-bottom: 15px
  .article
    margin-top: 2.5em
    border-bottom: 1px solid #{!article_border}
    position: relative
    padding-bottom: 1.5em
    &:first-child
      margin-top: 0
  h2
    padding-top: 0
    margin-bottom: .1em
  .title
    color: #333
    text-decoration: none
    &:hover
      text-decoration: underline
  .footer
    padding-top= !base_font_size

/* parts */

p.info
  position: absolute
  left: 0
  top: 0
  padding: 8px 0
  margin-bottom: 1em
  font-style: italic
.blog
  .meta
    border-bottom: 1px dashed #ddd
    text-transform: uppercase
    color: #777
    padding: 8px 0 5px
    margin-bottom: 1.5em
    font-size: 80%
    letter-spacing: 1px

span.version
  border: 1px solid #{darken(#c42728, 25)}
  border-top-color: #{darken(#c42728, 5)}
  border-left-color: #{darken(#c42728, 12)}
  border-right-color: #{darken(#c42728, 12)}
  background-color: #{darken(#c42728, 5)}
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(223, 94, 95)), color-stop(0.05, rgb(196, 39, 40)), color-stop(0.5, rgb(196, 39, 40)), color-stop(0.8, rgb(175, 35, 36)), color-stop(0.95, rgb(158, 31, 32)), to(rgb(153, 31, 31))) rgb(175, 35, 36)
  background-image: -moz-linear-gradient(#{lighten(#c42728, 16)}, #c42728 5%, #c42728 50%, #{darken(#c42728, 4)} 80%, #{darken(#c42728, 9)} 95%, #{darken(#c42728, 10)})
  +border-radius(6px)
  +text-shadow(darken(#c42728, 25), 1px, 1px, 1px)
  padding: 6px 8px
  display: block
  color: #fff
  font-size: 80%
  position: absolute
  top: 6px
  left: -55px
  text-align: center
  line-height: 1em
  font-weight: bold
  width: 30px
  strong
    text-transform: uppercase
    display: block
    font-size: 80%