#header
  padding: 40px 0 25px
  .page_width
    //position: relative
    //padding: 0 15px
  a.title
    font-size: $h1
    +heading-font
    width: 383px
    height: 77px
    +replace-text(unquote(unquote("edgerails-logo.png")))
    display: inline-block
    color: $title_color
    text-decoration: none
  a#fork
    display: inline
    +replace-text(unquote(unquote("fork.png")))
    width: 150px
    height: 150px
    position: absolute
    top: -2px
    right: 0
