#sidebar
  background: #fcfcfc
  //border: 1px solid #eee
  border-top: none
  font-size: 82%
  line-height: 1.45em
  .aside
    clear: both
  .group
    +pie-clearfix
    .aside
      width: #{!sidebar_width/2 - 32}
      float: left
      clear: none
      border-right: 1px solid #eee
      padding-right: 15px
      &:last-child
        padding-left: 15px
        border: none
        padding-right: 0
  #ads
    +clearfix  
  h4
    margin: 20px -16px 10px
    padding: 12px 16px
    background: #fff
    border-bottom: 1px solid #e5e5e5
    border-top: 1px solid #e5e5e5
    .small
      +sans-font
      font-size: 70%
      
#delicious
  +border-radius
  background: #f8f8f8
  border: 1px solid #eee
  padding: 5px 0
  ul
    list-style-type: none
    margin: 0
  li
    margin: 0 15px
    padding: 10px 0 0
    border-bottom: #ddd 1px dashed
    &:last-child
      border-bottom: 0

#delicious
  p
    font-style: italic
  li
    color: #666
    font-style: normal
    padding-bottom: 8px