#ads.aside
  .ad
    .small
      #adzerk
        #adzerk_ad_div
          %script(type="text/javascript" src="http://rubyrow.net/Server/RUBY/DAIGLE/VERT")
        #adzerk_by
          %a(href='http://rubyrow.net')
            Ads from Ruby Row
-#
  %a(href="http://rubyrow.net/redirect/0/345/311/70/d1a5d83c5b2a486fb7c7d944cf71b503")
    %img(src="http://static2.rubyrow.net/Advertisers/345.gif" alt="" title="" width="120" height="90")
  %p
    At Blue Box Group, we eat, sleep and breathe Rails. With hosting plans from $10/month, you won't <a href="http://rubyrow.net/redirect/0/345/311/70/d1a5d83c5b2a486fb7c7d944cf71b503">find a better deal anywhere!</a>
  %p
    %a(href="http://rubyrow.net/")Ads from Ruby Row