.page_width
  Copyright &copy; #{Time.now.strftime('%Y')} - #{page.blog_title}
  %span.credit
    designed by
    %a{:href => "http://brandonmathis.com/"}
      Brandon Mathis
    powered by
    %a{:href => "http://octopress.org"}
      Octopress