- google_custom_search_id = "001155634542480541734:-pewsihppdg"

:javascript
  $(window).load(function() {
    $('#search_field').enableSearch();
  });

.page_width
  %ul
    %li.articles.first
      %a(href="/") Articles
    %li.about
      %a(href="/about.html") About
    %li.publish.last
      %a(href="/publish.html") Publishing Guide
    %li.search
      %form
        %input#search_field{:type => :text, :size => 10, :results => '#search_results', :cse => google_custom_search_id}
    %li.subscribe
      %a(href="/atom.xml") Subscribe
      
#search_results.hidden{:template => '#search_template'}

%script#search_template{:type => "text/html"}
  :plain
    <% for ( var i = 0; i < results.length; i++ ) { %>
      <% var result = results[i]; %>
      <div class="search_result">
        <a href="<%= result.url %>"><%= result.titleNoFormatting %></a>
        <div class="small"><%= result.content %></div>
      </div>
    <% } %>