- if page.respond_to? :date
  - if site.related_posts.any?
    #related_posts.aside
      %h4 Related articles
      .posts
        - for post in site.related_posts[0..5] do
          .post
            %a{:href => post.url}= post.title