.page_width
  :javascript
    $(window).load(function() {
      $('#google_search').enableSearch();
    });
    function hideSearchResults() {
      $('#search_results').hide();
    }

  #search_results.hidden{:template => '#search_template'}

  %script#search_template{:type => "text/html"}
    :plain
      <div class="results">
        <h5>Search Results:</h5>
        <% if (results.length){ %>
        <ul>
          <% for ( var i = 0; i < results.length; i++ ) { %>
            <% var result = results[i]; %>
            <li>
              <a href="<%= result.url %>"><%= result.titleNoFormatting %></a>
            <p><%= result.content %></p>
            </li>
          <% } %>
        </ul>
        <% } else { %>
          <strong>Oops! We couldn't find posts about that.</strong>
        <% } %>
        <a id="close_search" href="#" onClick="hideSearchResults(); return false;">close</a>
      </div>