---
layout: default
title: About EdgeRails.info
nav: about
---
/ use the :mardown filter if you want to write pages with Markdown
:markdown
  ### About

  EdgeRails.info started out as the sole effort of [Ryan Daigle](http://ryandaigle.com) to document major new features of the [Rails framework](http://rubyonrails.com), allowing developers to keep up with the rapid pace of maturation of the framework without having to watch the repository themselves.  After four years of maintaining the series on his personal site, Ryan migrated the content to EdgeRails.info to provide a dedicated site more capable of providing updates for the community.
  
  In addition to a new domain, edge rails is also open for community contribution and updates.  While Ryan will monitor and organize article contributions, the site intends to be much more transparent and community driven than most content sites.  So [check out the publishing guide](/publish.html) to see how you can have a say in what gets posted - and have a widely read platform on which to publish.