---
layout: default
title: Publishing Guide
nav: publish
---
/ use the :mardown filter if you want to write pages with Markdown
:markdown
  ### Publishing Guide

  EdgeRails.info runs on Jekyll, the static site generator, to facilitate the easy forking, sharing and updating of articles
  via GitHub, every programmer's favorite collaboration tool. We welcome your article contributions and have collected
  the following set of resources to help you get started.

  #### Contribution Howto

  If you have an idea for an article about a new feature in Rails (or have chosen one suggested by us/others)
  then here's what I'd like to suggest:

  - Contact me at ryan [dot] daigle [at] gmail [dot] com letting me know what topic you plan to write about (to
  ensure somebody else hasn't already started on that topic).
  - Once it's clear you're not duplicating somebody else's efforts, follow the [README](https://github.com/rwdaigle/edgerails/blob/master/README.textile)
  to checkout the site source and write the article.
  - Once you've written the article and have regenerated the site, checkin your work and send me a [pull request on GitHub](http://help.github.com/pull-requests/).
  I'll take a quick read and, if all looks good, will merge your work into the official branch and push the changes up to the site. And that's it!

  This is meant to be a very easy and lightweight process. If it's not, I need to hear from you!
  

  #### Wanted Topics

  Sometimes the hardest part in contributing is coming up with the topic. See below for a list known topics (and tasks) we'd love to
  have covered on the site (but please check w/ me before starting so we don't have two people working on the same thing
  at once - see bullet #1 above):

  * Mountable engines in Rails 3
  * Rails 3.1 asset pipeline
  * Bulk alter table
  * Subdomain and tld routing support
  * has_secure_password
  * Making the site regeneration more efficient (it currently takes so long as Jekyll regenerates all files)

  As even this page is part of the site source, feel free to add your own suggestions to this list as well. Contributions are
  welcome to all aspects of the site.

  - Ryan Daigle
